### BIG MEMORY TABLE SUPPORT
## ⚠️ Temporary use only! The memory usage is per-connection!
## Allow the import of big MEMORY engine table size from a mysqldump.
## Fixes `ERROR 1114 (HY000): The table catalog_product_index_price_tmp is full`
##
## sudo curl -o /etc/mysql/mysql.conf.d/20-webstackup-big-memory-table-support.cnf
##
## 📚 https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_max_heap_table_size
## 📚 https://releem.com/docs/mysql-performance-tuning/max_heap_table_size

max_heap_table_size=512M
tmp_table_size=512M
