## Rise the max_connections limit
# https://serverfault.com/questions/92056/how-to-find-out-the-memory-cost-of-each-mysql-connection
#
# Example
# -------
# Total buffers: 168.0M global + 65.1M per thread (250 max threads)
# Maximum possible memory usage: 16.1G (51.38% of installed RAM)

[mysqld]
max_connections = 250
